:root{
  --white:#fff;
  --ash:#ffee80;
  --black: #000;
  --bluish-black:#000033;
  --light-color:rgb(211, 211, 211);
  --blue:#0000e6;
  --light-blue:#b6b6fc;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.1);
}

*{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  box-sizing: border-box;
}

.back{
  /*margin-top: 20px;*/
  position: relative;
  background-image: url(../Images/lambo.jpg);   
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 75vh;

}

.slogan {
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%, -52%);
font-family: 'roboto',sans-serif;
margin-top: 2px;
padding: 10px;
text-align: center;
font-size: 70px;
color: var(--black);
font-weight: bold;
/* background-color: #fff; */
font-weight: bold;
border: 5px;
text-shadow: 12px 10px 17px rgb(229, 225, 238);
border-radius: 10px;
border-style: outset;
}

#about{
  margin-left: 2vw;
  margin-right: 2vw;
}

.icons-container{
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #eee;
}

.icons{
  box-shadow: var(--box-shadow);
  text-align: center;
  width: 250px;
  border-radius: 20px;
  margin-top: 30px;

}
.icons-container .icons{
  background:#fff;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  padding:2rem;
  
}

.icons-container .icons i{
  height:5rem;
  width:5rem;
  line-height:5rem;
  font-size:2.5rem;
  color:var(--black);
  background:#eee;
  text-align: center;
  border-radius: 50%;
}

.icons-container .icons .content h3{
  font-size: 2.5rem;
  color:var(--blue);
}

.icons-container .icons .content p{
  font-size: 1.5rem;
  color:var(--light-blue);
}

.icons-container .icons:hover{
  background:var(--blue);
}

.icons-container .icons:hover i{
  background:var(--ash);
}

.icons-container .icons:hover .content h3{
  color:#fff;
}

.icons-container .icons:hover .content p{
  color:#eee;
}

.grid-container{
  /* background: transparent; */
  display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 50px;
	grid-template-rows: 400px;
  height: auto;
  justify-content: space-around;
  align-content: center;	
}

.grid-item{
  margin: 1.2em;
}

.grid-container .grid-item-1{
  width: inherit;
  height: inherit;
}

.grid-item-1 #pic{
  border-radius: 2%;
}

.grid-container .grid-item-2{
  text-align: center;
}

.grid-item-2 h3{
  font-size: 35px;
  padding: 20px;
  margin-top: 50px;
}

.grid-item-2 p{
  text-indent: 95px;
  word-spacing: 5px;
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
  word-wrap: break-word;
  
}

@media screen and (max-width: 750px) {
  .grid-container {
  
    overflow: scroll;
  }
}
